<div class="contact">
    <h1 class="lg-heading">
        Contact <span class="text-secondary">Me</span>
    </h1>
    <div class="boxes">
        <div>
            <a href="mailto:eswarasrinivaslanka@gmail.com">
                <span class="text-secondary">Email:</span>
                eswarasrinivaslanka@gmail.com
            </a>
        </div>
        <div>
            <a href="tel:+918867458799">
                <span class="text-secondary">Phone:</span>
                +918867458799
            </a>
        </div>
        <div>
            <span class="text-secondary">Address:</span>
            Hebbal, Bangalore
        </div>
    </div>
</div>
