<div class="contact">
    <h1 class="lg-heading">
        Contact <span class="text-secondary">Me</span>
    </h1>
    <div class="boxes">
        <div>
            <span class="text-secondary">Email:</span>
            eswarasrinivaslanka@gmail.com
        </div>
        <div>
            <span class="text-secondary">Phone:</span>
            +918867458799
        </div>
        <div>
            <span class="text-secondary">Address:</span>
            Hebbal, Bangalore
        </div>
    </div>
</div>
