<div class="aboutMe">
    <h1 class="lg-heading">
        About <span class="text-secondary">Me</span>
    </h1>
    <div class="data">
        <div class="portrait"></div>
        <div class="content">
            <p>I am presently working as senior software Developer at Monsanto and I completed my Bachelor’s from JNTUK University, Computer Science and Engineering. 
                Currently, I am working on various technologies Angular, React, Redux, Java.
            </p>
        </div>
    </div>
    <div class="jobs">
        <div class="job" *ngFor="let job of jobs">
            <h3>{{job.companyName}}</h3>
            <h5>{{job.role}}</h5>
            <p class="description">{{job.description}}</p>
        </div>
    </div>
</div>
