<div class="aboutMe">
    <h1 class="lg-heading">
        About <span class="text-secondary">Me</span>
    </h1>
    <div class="data">
        <div class="portrait"></div>
        <div class="content">
            <p>Hi, I am Eshwar, Am a Senior software engineer, currently building web & java applications for Breeding IT MONSANTO.
                I worked on multiple technologies, Some of them are ANGULAR, REACT and JAVA. My passion is to learn new technologies always.
                Believe me am a fast learner.
            </p>
        </div>
    </div>
    <div class="jobs">
        <div class="job" *ngFor="let job of jobs">
            <h3>{{job.companyName}}</h3>
            <h5>{{job.role}}</h5>
            <p class="description">{{job.description}}</p>
        </div>
    </div>
</div>
