<main id="home">
    <h1 class="lg-heading">
        Eshwar <span class="text-secondary">L</span>
    </h1>
    <h2 class="sm-heading">
        Web Developer, Programmer & Designer
    </h2>
    <div class="icons">
        <a target="_blank"  href="https://twitter.com/eswarasrinivas">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/eswarasrinivas.lanka">
            <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a target="_blank"  href="https://www.linkedin.com/in/eswarasrinivas-lanka-532b6333/">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a target="_blank"  href="https://github.com/EshwaraSrinivas/">
            <i class="fab fa-github fa-2x"></i>
        </a>
    </div>
</main>
